<script>
        const socket = io();
        const pathParts = window.location.pathname.split('/');
        const hospCode = pathParts[pathParts.length - 1];

        // เข้าห้อง
        socket.on('connect', () => {
            socket.emit('join', { code: hospCode });
        });
        
        socket.on('update_staff', (data) => document.getElementById('waiting-count').innerText = data.waiting_count);
        
        socket.on('update_settings', (settings) => {
            document.getElementById('set-title').value = settings.ticket_title;
            document.getElementById('set-footer').value = settings.ticket_footer;
            document.getElementById('set-logo').checked = settings.show_logo;
            // เพิ่มช่องแก้ชื่อ รพ.
            document.getElementById('set-name').value = settings.hospital_name;
        });

        // ส่ง code ไปกับทุกคำสั่ง
        function callNext() { socket.emit('call_next', { code: hospCode }); }
        function repeatCall() { socket.emit('repeat_call', { code: hospCode }); }
        function resetSystem() { 
            if(confirm('ล้างระบบ?')) socket.emit('reset_system', { code: hospCode }); 
        }

        function saveSettings() {
            const settings = {
                hospital_name: document.getElementById('set-name').value, // รับค่าชื่อ รพ. จาก input
                ticket_title: document.getElementById('set-title').value,
                ticket_footer: document.getElementById('set-footer').value,
                show_logo: document.getElementById('set-logo').checked
            };
            socket.emit('save_settings', { code: hospCode, settings: settings });
            alert('บันทึกเรียบร้อย!');
        }
    </script>
